body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ebebeb;
    margin: auto;
}

#wrapper {
    color: #000066;
    background-color: #ebebeb;
    width: 100%;
    margin: auto;
}

a {
    color: rgb(3, 0, 0);
    text-decoration: none;
}

p {
    color: black;
}

header {
    font-family: Georgia, "Times New Roman", serif;
    color: #00005D;
    background-image: url(locations/Siem_Riep/Siem_Reap_1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-bottom: 5em;
    height: 30%;
    width: 100%;
}

header h1 {
    padding-left: 80px;
    padding-top: 30px;
    margin: 0;
}

header span {
    font-style: italic;
    font-weight: bold;
    font-size: 95%;
    color: darkblue;
    padding-left: 120px;
    margin-top: -0.5em;
}

nav {
    background-color: #469AE3;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: bold;
    text-align: center;
    padding-right: 3em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    padding: 0.5em;
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    color: #0053f9;
}

main {
    background-color: #ebebeb;
    color: #000000;
    padding: 10px 20px;
    overflow: auto;
    min-height: 400px;
    width: 80%;
    margin: auto;
}

.button a:link,
a:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    display: inline-block;
    margin: auto;
    display: flex;
    display: grid;

}

h2 {
    color: #869dc7;
    font-family: arial, sans-serif;
    margin: 5px;
    text-align: center;
}

.allpods{
    display:flex;
    flex-direction:row; 
    flex-wrap:wrap; 
    justify-content:space-around; 
}

.pod1:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod1 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod1 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Kompong_Thom/Kompong_Thom_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod2:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod2 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod2 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Kirirom/Kirirom_2.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod3:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod3 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod3 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Kompot/Kampot_4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod4:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod4 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod4 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Mondulkiri/Mondulkiri_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod5:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod5 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod5 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Phnom_Penh/Phnom_Penh\_2_Independence.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod6:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod6 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod6 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Siem_Riep/Siem_Reap_2.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

.pod7:hover {
    top: -4px;
    transform: translateY(-4px);
}

.pod7 h4 {
    padding-top: 200px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pod7 a {
    float: left;
    width: 280px;
    height: 350px;
    background-color: white;
    background-image: url(locations/Sihanoukville/Sihanoukville_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 32px;

}

footer {
    font-size: 70%;
    text-align: center;
    padding: 10px;
    clear: both;
}

#KT1 {
    float: right;
    margin: 0 0 20px 20px;
    width: 100%;
    height: 100%;
    max-width: 30%;
    max-height: 30%;
}

#KT2 {
    float: left;
    margin: 5px 20px 0 0;
    width: 100%;
    height: 100%;
    max-width: 30%;
    max-height: 40%;
}

.contact{
    width:40%
} 

input[type=text], input[type=email], textarea, input[type=submit] {
    width: 100%;
    padding: 12px 15px;
    margin: 4px 0px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    border:none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #7cc2ff;
}

input[type=submit]:hover {
    background-color: #73b4ee;
}